/*CONFIGURAÇÕES GERAIS*/
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(0, 26, 0);
}
nav{
    background-color: rgb(0, 26, 0);
}
nav ul{
    margin-left: 27%;
    padding-bottom: 5px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    padding-left: 3%;
    color: rgb(200, 223, 147);
    font-weight: 700;
    font-family: sans-serif;
}

.btn-cor{
    padding-left: 3%;
    width: 50px;
}
footer{
    background-color: rgb(0, 26, 0);
    color: rgb(200, 223, 147);
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
    font-style: italic;
}

/*Config. slideShow*/
#banner{
    width: 100%;
    background-color: rgb(200, 223, 147);

}
#imgbanner{
    width: 300px;
    padding-left: 36%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Produtos*/
.card{
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 1px;
    text-align: bottom;
}
.card img{
    width: 280px;
}
.card h3{
    font-family: sans-serif;
}
.card p{
    text-align: center;
    font-family: sans-serif;
}

/*Config. Contato*/
#mapa{
    padding-top: 50px;
    float: right;
}
h2{
    font-family: sans-serif;
}
form{
    padding-left: 3%;
    width: 40%;
    font-family: sans-serif;
}
#contato{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 250px;
}

/*Config. Sobre*/
.sobre{
    font-family: sans-serif;
    font-size: 1.3rem;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
}
#and{
    padding-bottom: 40px;
}

/*Config. Login*/
#form-login{
    width: 30%;
    padding-left: 35%;
    padding-top: 40px;
    padding-bottom: 205px;
}
#info{
    padding-left: 22.5%;
}
#btn-login{
    width: 80px;
    height: 40px;
    margin-left: 25%;
    margin-bottom: 20px;
}

/*Config. Quiz*/
#h1-quiz{
    font-family: sans-serif;
    font-size: 2rem;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 13%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 40%;
    height: 80px;
}
#h1-quiz legend{
    margin-left: 30%;
}
.container button{
    width: 150px;
    height: 50px;
    margin-left: 35%;
    margin-bottom: 220px;
}