/*VARIÁVEIS*/
:root{
    --body-font:'Arial', 'sans-serif';
    --color1: #001a00;                    
    --color2: #c8df93;
    --color3: #000000;
    --color4: #717d54;
    --color5: #e7dc8f;
    --color6: #717d541e;
}

/*CONFIGURAÇÕES GERAIS*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--body-font);
}
header{
    background-color: var(--color1);
}
nav{
    background-color: var(--color1);
}
nav ul{
    margin-left: 27%;
    padding-bottom: 20px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    padding-left: 3%;
    color: var(--color2);
    font-weight: 700;
}
.btn-pages{
    background: var(--color4);
    border: 1px solid var(--color3);
    padding: 0.4rem 3rem;
    border-radius: 0.5rem;
    text-decoration: none;
}
.btn-pages:hover{
    background: var(--color2);
    color:var(--color1);
    border-color:  var(--color4);
    border-bottom: 2px solid var(--color2);
}
.btn-pages-login{
    background: var(--color4);
    border: 1px solid var(--color3);
    padding: 0.4rem 3rem;
    border-radius: 0.5rem;
    text-decoration: none;
}
.btn-pages-login:hover{
    background: var(--color1);
    color:var(--color2);
    border-color:  var(--color2);
    border-bottom: 2px solid var(--color2);
}
.btn-cor{
    padding-left: 3%;
    width: 50px;
}
footer{
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
    bottom: 0;
    width: 100%;
    font-style: italic;
}

/*Config. slideShow*/
#banner{
    width: 100%;
    background-color: var(--color5);

}
#imgbanner{
    width: 300px;
    padding-left: 36%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Produtos*/
.card{
    background-color: var(--color6);
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--color3);
    border-radius: 10px;
    text-align: center;
}
.card img{
    width: 280px;
}

/*Config. Contato*/
#mapa{
    padding-top: 50px;
    float: right;
}
form{
    padding-left: 3%;
    width: 40%;
}
#contato{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 250px;
}

/*Config. Sobre*/
.sobre{
    font-size: 1.3rem;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
}
#and{
    padding-bottom: 40px;
}

/*Config. Login*/
#form-login{
    width: 30%;
    padding-left: 35%;
    padding-top: 40px;
    padding-bottom: 205px;
}
#info{
    padding-left: 22.5%;
}
#btn-login{
    width: 80px;
    height: 40px;
    margin-left: 25%;
    margin-bottom: 20px;
}

/*Config. Quiz*/
#h1-quiz{
    font-size: 2rem;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 13%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 40%;
    height: 80px;
}
#h1-quiz legend{
    margin-left: 30%;
}
.container button{
    width: 150px;
    height: 50px;
    margin-left: 35%;
    margin-bottom: 220px;
}

/*Modals*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-button {
    margin: 10px;
}